body {
    margin: 0 auto;
}

main{
    margin: 0 auto;
    height: 100%;
}

header{
    margin: 0 auto;
    height: 8%;
}

article{
    margin: 0 auto;
    height: 82%;
}

footer{
    margin: 0 auto;
    height: 8%;
}

.block {
    display: flex;
}

.inputData{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 2px solid black;
    padding: 20px;
}

/*   input data*/

.inputMatrix{
    width: 60px;
    height: 60px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
} 

.vector{
    display: flex;
    flex-direction: row;
}

.inputVector{
    width: 80px;
    height: 40px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}

.firstDot{
    width: 80px;
    height: 40px;
    text-align: center;
    justify-content: center;
}

.point{
    width: 40px;
    height: 40px;
    text-align: center;
    justify-content: center;
}

.create{
    width: 180px;
    height: 40px;
    text-align: center;
    justify-content: center;
}


/*   text   */
#title{
    text-align: center;
}

#place{
    text-align: center;
}

#textMatrix{
    font-size: 80px;
    margin: 0 2px;
}

#textVector{
    font-size: 40px;
    margin: 0 2px;
}